
@page "/contacts"
@inject IContactsService ContactsService
@using PropertyColumn = Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Contacts</PageTitle>

<h1>These are your contacts!</h1>

<ul>


    <table>
        <thead>
            <tr>
                <th>Contact ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>House Number</th>
                <th>House Name</th>
                <th>Post Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in contacts)
            {
                <tr @onclick="() => ShowDetails(contact)">
                    <td>@contact.ContactID</td>
                    <td>@contact.FirstName</td>
                    <td>@contact.LastName</td>
                    <td>@contact.Email</td>
                    <td>@contact.PhoneNumber</td>
                    <td>@contact.HouseNumber</td>
                    <td>@contact.HouseName</td>
                    <td>@contact.PostCode</td>
                </tr>
            }
        </tbody>
    </table>

    
</ul>

<button class="btn btn-primary" @onclick="@AddNewContact">Add Contact</button>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    private bool showSuccessBanner = false;

    private ContactsModel selectedContact = new ContactsModel();

    private List<ContactsModel> contacts = new List<ContactsModel>();

    private List<ContactsResponse> contactsResponse = new List<ContactsResponse>();
    private IQueryable<ContactsResponse?> queryableContacts;

    protected override async Task OnInitializedAsync()
    {
        await GetContacts();
        showSuccessBanner = false;
    }

    private async Task GetContacts()
    {
        contactsResponse = await ContactsService.GetContactsAsync();

        contacts = contactsResponse.Select(c => new ContactsModel
            {
                ContactID = c.ContactID,
                FirstName = c.FirstName,
                LastName = c.LastName,
                Email = c.Email,
                PhoneNumber = c.PhoneNumber,
                HouseNumber = c.HouseNumber,
                HouseName = c.HouseName,
                PostCode = c.PostCode
            }).ToList();
    }


    private async Task AddNewContact()
    {
        var options = new ModalOptions
            {
                UseCustomLayout = true
            };

        var parameters = new ModalParameters()
            .Add(nameof(ContactModal.contact), selectedContact)
            .Add(nameof(ContactModal.isEdit), false);

        var contactForm = Modal.Show<ContactModal>("Calculator", parameters, options);

        var result = await contactForm.Result;

        if (result.Confirmed)
        {
            await GetContacts();
        }
    }

    private async Task ShowDetails(ContactsModel selectedContact)
    {
        var options = new ModalOptions
            {
                UseCustomLayout = true
            };

        var parameters = new ModalParameters()
            .Add(nameof(ContactModal.contact), selectedContact)
            .Add(nameof(ContactModal.isEdit), true);

        var contactForm = Modal.Show<ContactModal>("Calculator", parameters, options);
        var result = await contactForm.Result;

        if (result.Confirmed)
        {
            await GetContacts();
        }
    }
}